@import "tailwindcss";



@layer utilities{
  .animate-in{
    animation-fill-mode: both;
  }

  .slide-in-from-top{
    animation-name: slide-in-from-top;
  }

  .slide-in-from-bottom{
    animation-name: slide-in-from-bottom;
  }

  .duration-200{
    animation-duration: 0.2s;
  }

  .duration-300{
    animation-duration: 0.3s;
  }

  .duration-700{
    animation-duration: 0.7s;
  }

  .delay-100{
    animation-delay: 0.1s;
  }

  .delay-200{
    animation-delay: 0.2s;
  }

  .delay-300{
    animation-delay: 0.2s;
  }


}

@keyframes slide-in-from-top{
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slide-in-from-bottom{
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}